.scriptelement {
  margin-left: 0;
  margin-right: 0;
  padding: 5px;
  line-height: 1;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
}

.scriptelement.slugline {
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 1.5in;
  font-weight: bold;
  counter-increment: scene 1;
}
.scriptelement.slugline:before {
 // content: counter(scene);
}


.scriptelement.dialogue {
	margin-left: 2.5in;
	// margin-right: 6in; // wtf dave?!
	
}

.scriptelement.character {
  text-transform: uppercase;
  padding: 0;
  margin-left: 0.9in;
}

.scriptelement.action {
  margin-top: 10px;
  margin-left: 1.5in;
  width: 55%;
}

#scriptinput {
  width: 100%;
  height: 1.2em;
  font-family: "Courier New", Courier, monospace;
  overflow-y: hidden;
}

.displayhide {
  display: none;
}

@media print {
  .nbc {
    display: none;
  }
  #script-wrapper {
    border-style: hidden !important;
  }
  #script {
    display:  block;
    position: relative;
  }
  
  .scriptelement {
    page-break-inside: avoid;
  }
  
  .scriptelement.slugline {
    // Almighty dave says there should always be a page break first... (next selector)
    // // Prefer to shove slugline on to new page than have it at bottom of page
    
    // 'almighty dave?' fuck off!! :P
    //  page-break-after: avoid;
    
    // PDF bookmarks
    bookmark-level: 1;
    bookmark-state: closed;
  }
  .scriptelement.slugline:not(:nth-child(3)) {
    // Remove blank page
    position: relative;
    page-break-before: always;
  }
  
  .coverpage {
    page-break-after: always;
    
    margin-top: 40%;
    text-align: center;
  }
  
  .printhide {
    display: none;
  }
  .displayhide {
    display: block;
  }
  @page {
    counter-increment: page;
    size: A4 portrait;
    margin: 1cm;
    
    @top-right {
      font-family: "Courier New", Courier, monospace;
      font-weight: bold;
      content: counter(page);
    }
  }
}
